{% extends 'base.html' %}

{% block content %}
<!-- Form -->
<form method="POST">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<h3>Join the chat</h3>
{{ form.hidden_tag() }}
{{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
{{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
{{ form.submit() }}
<form action="" method='post' class="decor">
</div>
</form>

{% endblock %}
